/** {*/
/*    border: solid black 1px;*/
/*}*/
body {
    /*background: #8fb3f5;*/
}
#addr {
    font-family: 'Tilt Neon', cursive;
}
.carousel-item img {
    height: 350px;
}
.container {
    padding: 0px;
}
.container .row {
    margin-left: 0px;
}
.img_sp {
    padding: 0px;
    height: 300px;
}