/** {*/
/*    border: solid black 1px;*/
/*}*/
body {
    /*background: #8fb3f5;*/
}
#addr {
    font-family: 'Tilt Neon', cursive;
}
.navbar-nav {
    font-family: 'Lato', sans-serif;
}
.carousel-item img {
    height: 350px;
}
.container {
    padding: 0px;
}
.container .row {
    margin-left: 0px;
    /*border: 1px solid black;*/
}
.col-md-8, .col-12 {
    /*border: 1px solid black;*/
}
.img_sp {
    padding: 0px;
    max-height: 300px;
}
.img_news {
    max-height: 300px;
}
.tech-img {
    max-height: 190px;
}
.product-text {
    color: white;

}